@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  /* @apply bg-neutral-900/80; */
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Mont';
  src: url('/public/FontsFree-Net-Mont-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Mont', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.2;
  color: #000;
}

@keyframes extendUnderline {
  from {
    width: 0;
    left: 50%;
    right: 50%;
  }
  to {
    width: 100%;
    left: 0;
    right: 0;
  }
}

@keyframes collapseUnderline {
  from {
    width: 100%;
    left: 0;
    right: 0;
  }
  to {
    width: 0;
    left: 50%;
    right: 50%;
  }
}

@layer components {
  .hover-underline-animation {
    position: relative;
    padding-bottom: 2px;
    overflow: hidden;
  }

  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: black;
    transition: none;
    animation: collapseUnderline 0.3s forwards;
  }

  .hover-underline-animation:hover::after {
    animation: extendUnderline 0.3s forwards;
  }
}
